<div class="row">
  <div class="col-md-5 col-md-offset-0">
    <%= link_to 'Voltar', conhecimentos_path , class: 'btn btn-default' %>
    <h2>Alterar Conhecimentos!</h2>
    <%= render 'form' %>
  </div>
</div>