<div class="row">
  <div class="col-md-5 col-md-offset-0">
    <%= link_to 'Voltar', emails_path , class: 'btn btn-default' %>
    <h2>Registrar Resposta Avaliativa!</h2>
      <%= render 'form' %>
  </div>
</div>